---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/me.jpg" alt="Home" width="90%">
  </div>
</div>

One further interest of me lies in the challenge of converting machine learning theory into practical applications. I am collaborating and mentoring several AI startups, helping them brining their AI powered products to the market. In reverse, I bring the challenges and insights from there back to the classroom and discuss them with my students.
You can find an overview of my current activities in this area 
<a href="https://pabair.github.io/startups.html">here</a>.
